body {
  font-size: 6em;
  text-align: center;
}

.count {
  margin: 0;
  font-weight: bold;
  color: #888;
}

.textcount {
  margin: 0;
  font-weight: 500;
  color: #555;
  display: none;
}

.wrap {
  background-color: #666;
  margin-top: 20px;
  padding: 80px 40px;
  font-weight: bold;
  color: #fff;
}

.typed {
  color: lightgreen;
}

.mistyped {
  background-color: lightsalmon;
}

